{% load static %}
<!DOCTYPE html>
<html lang="Tr-tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <title>{% block  title%}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <div class="banner">
            <div class="left">
                <img src="{% static "img/msu.png" %}" alt="msulogo" width="24">
            </div>
            <div class="header-text">TürkDeniz Elektronik Dergisi</div>
            <div class="right">
                <img src="{% static "img/damyo.png" %}" alt="msulogo" width="24">
            </div>
        </div>
    </header>
        <nav>
            <div class="menu-container">
                <div class="logo">
                    <a href="{% url 'anasayfa' %}"><img src="{% static "img/logo_light.png" %}" alt="logo"></a>
                </div>
                <div class="menu-items">
                    <a href="{% url 'hakkinda' %}" class="item">Dergi Hakkında</a>
                    <a href="{% url 'amacvekapsam' %}" class="item">Amaç ve Kapsam</a>
                    <a href="{% url 'kunye' %}" class="item">Künye</a>
                    <a href="{% url 'kurullar' %}" class="item">Kurullar</a>
                    <a href="{% url 'yayinpolitikasi' %}" class="item">Yayın Politikası</a>
                    <a href="{% url 'etik' %}" class="item">Etik Kurullar</a>
                    <a href="{% url 'iletisim' %}" class="item">İletişim</a>
                </div>
                <div class="menu-bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    
    {% block content %}
    
    {% endblock  %}
    <footer>
        <p>Damyo | 2024</p>
    </footer>
<script src="{% static "js/script.js" %}" defer></script>
</body>
</html>