{% extends "base.html" %}

{%block title%}TürkDeniz | Etik{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Etik Kurullar</h3>
                <p class="blog-text">Committee on Publication Ethics (COPE) Rehberler ve politikalar ilkeleri ile belirlenmiş olan etik görev ve sorumluluklar Deniz Astsubay Meslek Yüksekokulu Türk Deniz dergisi tarafından benimsenmiştir. Bu kapsamda, tüm paydaşların bu etik gereklilikleri yerine getirmesi beklenmektedir
                </p>
               
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   