{% extends "base.html" %}

{%block title%}TürkDeniz | Hakkında{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Hakkında</h3>
                <p class="blog-text">Deniz Astsubay Meslek Yüksekokulu Türk Deniz Dergisi; Deniz Astsubay Meslek Yüksekokulu müdürlüğü tarafından 2022 yılında kurulan, Türkçe veya İngilizce olarak hazırlanan çalışmaları yayınlayan bir dergidir. Dergi açık erişimlidir, herhangi bir ücret talep edilmez. Yayımlanan metinleri için yazarlara, editör ve yayın kurullarına herhangi bir ücret ödenmez. Yeni yöntemler, yeni teknolojiler, dikkate değer iyileştirmeler, yeni uygulama alanları vb. konularda sunulan, ulusal ve uluslararası literatüre belirgin katkısı ortaya konulan bilimsel içerikli makale ve yayınlar dergimizin öncelik verdiği yayınlar arasındadır.
                </p>
               
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   