{% extends "base.html" %}

{%block title%}TürkDeniz | Yayin Politikasi{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Yayın Politikası</h3>
                <p class="blog-text">
                    <ul>
                        <li>Deniz Astsubay Meslek Yüksekokulu Türk Deniz dergisi bilimsel bir dergidir. Elektronik ortamda yayımlanır.</li>
                        <li>Yayın kurulunun kararına göre özel sayı basılabilir.</li>
                        <li>Dergi editör kurulu üyeleri dergiye metin gönderebilirler fakat metnin değerlendirildiği dönemde yayım süreçlerinde görev yapamazlar.</li>
                        <li>Dergi yayım politikaları ve süreçlerinde yapılan değişiklikler derginin resmi web sitesinde ilan edilir.</li>
                        <li>Dergimize gönderilen içeriklerin ortalama değerlendirme süreleri iki aydır. Ön kontrol aşaması 10 gün, hakem değerlendirme süreci 30 gün ve düzenlenme aşaması 10 gündür</li>
                        <h5>Tüm yazarlar aşağıdaki maddeleri kabul ve taahhüt eder;</h5>
                        <li>Sunulan içeriğin yazar(lar)ın orijinal çalışması olduğunu ve intihal yapmadıklarını,</li>
                        <li>Tüm yazarların bu çalışmaya bireysel olarak katılmış olduklarını ve bu çalışma için her türlü sorumluluğu aldıklarını,</li>
                        <li>Tüm yazarların sunulan içeriğin son halini gördüklerini ve onaylarını,</li>
                        <li>İçerikte bulunan metnin, şekillerin ve dokümanların diğer şahıslara ait olan ‘’ telif hakları’’nı ihlal etmediğini kabul ve taahhüt ederler.</li>
                    </ul>
                </p>
               
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   