{% extends "base.html" %}

{%block title%}TürkDeniz | Amaç ve Kapsam{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Derginin Amacı</h3>
                <p class="blog-text">Derginin amacı, geleceğin üstün nitelikli deniz astsubaylarını yetiştiren, eğitim ve öğretimi ile örnek
                     gösterilen, dünyanın en iyi Deniz Astsubay Meslek Yüksekokulu olma hedefiyle yola çıkılan okulumuzda 
                     Gazi Mustafa Kemal Atatürk’ün ‘’İlim ve fennin yaşadığımız her dakikadaki saflarının gelişmesini kavramak
                      ve izlemek şarttır’’ sözünün verdiği motivasyon ile Deniz Astsubay Meslek Yüksekokulu Müdürlüğü personeli
                       arasındaki etkileşimi destekleyerek bilimsel gelişime hizmet etmenin yanı sıra derleme, özgün araştırma,
                        rapor ve tanıtım( yayın, sempozyum, laboratuvar gibi) çalışmaların yer aldığı bir dergi olmaktır.‘’ Bir
                         ulusun asker ordusu ne kadar güçlü olursa olsun, kazandığı zafer ne kadar yüce olursa olsun, bir ulus 
                         ilim ordusuna sahip değilse, savaş meydanlarında kazanılmış zaferlerin sonu olmayacaktır’’
                </p>
                <h3 class="blog-header">Derginin Kapsamı</h3>
                <p class="blog-text">Akademik arşiv çalışmaları yapmamızdaki hedef; hem meslek yüksekokulumuzda yapılan akademik 
                    çalışmalardan yararlanma imkânı sunmakta hem de araştırmacılarımızın çalışmalarını akademik arşiv sistemine 
                    ekleyerek daha çok kişiyle paylaşmasına olanak sağlamaktadır
                </p> 
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   