{% extends "base.html" %}

{%block title%}TürkDeniz | İletişm{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">İletişim</h3>
                <h5>Yazışma Adresi:</h5>
                <p class="blog-text">Deniz Astsubay Meslek Yüksekokulu 77730-Altınova/YALOVA</p>
                <h5>İnternet Adresi:</h5>
                <p class="blog-text"><a href="http://damyo.msu.edu.tr" style="text-decoration: none;" target="_blank">damyo.msu.edu.tr</a></p>
                <h5>Telefon:</h5>
                <p class="blog-text">0 226 462 83 10</p>
                <h5>Konum:</h5>
                <p class="blog-text">
                    <div class="map">
                        <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kaytazdere +Bld.+,+Ptt-alan+Şubesi+,+77720+Altınova+/+Yalova İli+,+Türkiye&amp;aq=4&amp;oq=light&amp;sll=40.695486, 29.534506&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Kaytazdere +Bld.+,+Ptt-alan+Şubesi+,+77720+Altınova+/+Yalova İli+,+Türkiye&amp;t=m&amp;z=14&amp;ll=40.695486, 29.534506&amp;output=embed"></iframe><br>
                        <small><a
                                href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Kaytazdere +Bld.+,+Ptt-alan+Şubesi+,+77720+Altınova+/+Yalova İli+,+Türkiye&amp;aq=4&amp;oq=light&amp;sll=40.695486, 29.534506&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Kaytazdere +Bld.+,+Ptt-alan+Şubesi+,+77720+Altınova+/+Yalova İli+,+Türkiye&amp;t=m&amp;z=14&amp;ll=40.695486, 29.534506"
                                style="color:#202227;text-align:left;font-size:1em">Büyük Haritayı Görüntüle</a></small>
                    </div>
                </p>
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   