{% extends "base.html" %}

{%block title%}TürkDeniz | Künye{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Künye</h3>
                <h5>Deniz Astsubay Meslek Yüksekokulu Adına Sahibi</h5>
                <p class="blog-text">Prof.Dr. Bayram KILIÇ</p>
                <h5>Editör</h5>
                <p class="blog-text">Öğr.Gör.Melike Kübra ÇAYCIOĞLU</p>
                <h5>Sorumlu Yazı İşleri Müdürü</h5>
                <p class="blog-text">Dr.Öğr.Üye.Öğ.Ütğm. Tuğba BOSTANCI GÜNEY</p>
                <h5>Alan Editörleri</h5>
                <p class="blog-text">
                    <span>Öğr.Gör. Bahadır Han ELSEVEN</span><br>
                    <span>İk.Yzb. Özer ÇETİN</span><br>
                    <span>Dr.Öğr.Üye.Öğ.Ütğm. Tuğba BOSTANCI GÜNEY</span><br>
                    <span>Doç.Dr. Ozan TUNA</span><br>
                    <span>Müh.Ütğm. Ceyhun AKAR</span><br>
                    <span>Öğ.Ütğm. Namık SARI</span><br>
                    <span>Müh.Ütğm. Sefa BAŞ</span><br>
                    <span>Öğ.Ütğm. Mehmet ÖZDAĞ</span><br>
                    <span>Öğr.Gör Şeyma OLGUN</span><br>
                    <span>Müh.Tğm. Metin ACAR</span><br>
                    <span>Asb.Kd.Bçvş. Ümit GÜLLÜOĞLU</span><br>
                </p>
                <h5>Sekreterya</h5>
                <p class="blog-text">Öğ.Ütğm. Muhammet ÜNAL</p>
                <h5>Web Editörü</h5>
                <p class="blog-text">
                    <span>Ütğm. İsmail TUFAN</span><br>
                    <span>Ütğm. Harun ŞAHİN</span><br>
                </p>
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   