{% extends "base.html" %}

{%block title%}TürkDeniz | Kurullar{%endblock%}
{% block  content%}
<main>
    <article>
        <div class="container">
            <div class="blog">
                <h3 class="blog-header">Kurullar</h3>
                <h5>Yayın Kurulu</h5>
                <p class="blog-text">
                    <span>Beşeri ve Sosyal Bilimler Bölüm Başkanlığı</span><br>
                    <span>Bilgisayar Teknolojileri Bölüm Başkanlığı</span><br>
                    <span>Büro Yönetimi ve İşletme Bölüm Başkanlığı</span><br>
                    <span>Denizcilik ve Askeri Bilimler Bölüm Başkanlığı</span><br>
                    <span>Eğitim Bilimleri Bölüm Başkanlığı</span><br>
                    <span>Elektronik ve Otomasyon Bölüm Başkanlığı</span><br>
                    <span>Havacılık ve Uçak Teknolojisi Bölüm Başkanlığı</span><br>
                    <span>Temel Bilimler Bölüm Başkanlığı</span><br>
                    <span>Yabancı Diller Bölüm Başkanlığı</span><br>
                    <span>İdari İşler Şube Müdürlüğü</span><br>
                    <span>Öğrenci İşleri Şube Müdürlüğü</span><br>
                </p>
                <h5>Danışman Kurulu Kurulu</h5>
                <p class="blog-text">
                    <span>Dz.Alb. Akın ÇAKAR</span><br>
                    <span>Müh.Alb. Çağhan ÇİMEN</span><br>
                    <span>Dz.Alb. Mustafa BEĞENDİ</span><br>
                    <span>Öğ.Alb. İsmail SÖNMEZ</span><br>
                </p>
            </div>
        </div>
    </article>
</main>
{% endblock  %}}
   